.hidden {
    display: none;
}

.inputStyling {
    text-align: center;
    font-size: 3em;
}

.message {
    height: 100px;
    width: auto;
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
}

button {
    font-size: 2em;
    padding: 5px;
    background-color: green;
    color: white;
}

.buttonStyling {
    text-align: center;
    margin-top: 50px;
}

.instructions {
    text-align: center;
    font-size: 2em;
    margin-top: 25px;
}