body {
    background-color: whitesmoke;
}

.buttons {
    font-size: 4em;
    padding: 10px;
    margin: 10px;
    background-color: red;
}

#buttonContainer {
   width: 100%;
    text-align: center;
    margin-top: 10%;

}

#messageArea {
    width: 500px;
    height: 100px;
    background-color: darkgrey;
    margin: 25px auto;
    text-align: center;
    font-size: 2em;
    padding-top: 25px;
}

.bottomInfo {
    text-align: center;
    font-size: 2em;
}